/SampleCode/StdDriver/UART_TxRx_Function_mhlee/KEIL/lst
/SampleCode/StdDriver/UART_TxRx_Function_mhlee/KEIL/*.mhlee
/SampleCode/StdDriver/Simple_Test/KEIL/lst
/SampleCode/StdDriver/Simple_Test/KEIL/obj
/SampleCode/StdDriver/Simple_Test/KEIL/*.mhlee
/SampleCode/StdDriver/Simple_Test/Insight/*.SearchResults
/SampleCode/StdDriver/UART_TxRx_Function_mhlee
/SampleCode/StdDriver/UART_TxRx_Function/KEIL/obj
/SampleCode/StdDriver/UART_TxRx_Function/KEIL/lst
/SampleCode/StdDriver/UART_TxRx_Function/KEIL/*.mhlee
